/* Customized scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(88, 88, 88) rgba(255, 166, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

*::-webkit-scrollbar-thumb {
  
  background-color: rgb(88, 88, 88);
  border-radius: 20px;
  border: 3px solid rgba(255, 166, 0, 0);
}
